installer/
include/DarkStyle.h
include/framelesswindow.h
include/windowdragger.h
DarkStyle.cpp
framelesswindow.cpp
windowdragger.cpp
framelesswindow.qrc
framelesswindow.ui
darkstyle.qrc
darkstyle/
images/
doxygen.exe
Doxyfile
*.autosave
*.pro.user*
*.pro.user