installer/
org.schabi.newpipe_730_src.tar.gz/
include/DarkStyle.h
include/framelesswindow.h
include/windowdragger.h
DarkStyle.cpp
framelesswindow.cpp
windowdragger.cpp
framelesswindow.qrc
framelesswindow.ui
darkstyle.qrc
darkstyle/
images/
doxygen.exe
Doxyfile
*.autosave
*.pro.user*
*.pro.user
Lidl_Soundboard.pro.user
doxygen/
build/*
dist/*